body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-page { 
    background-color: black;
}

.game-container {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    background-image: url('./game_images/homer_main_screen.jpeg');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}


#game-canvas {
    display: none;
}

@keyframes neon-green {
    0% {
        background-color: white;
    }
    50% {
        background-color: #00ff00; /* Neon green */
    }
    100% {
        background-color: white;
    }
}

#start-button {
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white; /* Set initial background color */
    animation: neon-green 1s infinite alternate;
}
