*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-page { 
    background-color: black;
}

.game-container {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    background-image: url('./game_images/homer_main_screen.jpeg');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}


#game-canvas {
    display: none;
}

@keyframes neon-green {
    0% {
        background-color: white;
    }
    50% {
        background-color: #00ff00; /* Neon green */
    }
    100% {
        background-color: white;
    }
}

#start-button {
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white; /* Set initial background color */
    animation: neon-green 1s infinite alternate;
}

#game-canvas1 {
   border:5px solid black;
   position: absolute;
   top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('./game_images/homer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.game-stage {
    background-color: white; /* Set the background color to white */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
